# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local


/public/font-awesome
/portfolio_backend/static
/portfolio_backend/build
/portfolio_backend/Procfile
/portfolio_backend/port_app/migrations
npm-debug.log*
yarn-debug.log*
yarn-error.log*
