body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.App {
  text-align: center;
}
.my-name{
	margin:0 40 0 40;
}
.raise{
  display: inline-block;
 padding: 10px 20px 10px 20px;
 margin-top: 20px;
 margin-bottom: 20px;
 border-radius: 5px; 
 box-shadow: -5px 5px 4px 1px #9b9b9b; 
}
/*.section2{
  background-color: #f48675;
  color:white;
}*/
#plain-link{
  color:inherit;
  text-decoration: none;
}
.section4{
  /*background-color: #35a37c;*/
}
.section5{
  /*background-color: #35a37c;*/
}
.section2 a{
	color: black;
}


 .nav-text{
  color:white;
 }
 .left{
  float: left;
}
.right{
  float: right;
}
/* section{
  padding:20px 0px 20px 0px;
}*/

#my-footer{
  padding:50px 20px 50px 20px;
  background-color: #191918;
  color: #fff435;
}
#my-footer h6{
  display: inline-block;
}